.change-card-modal-wrap {
  .ant-modal-footer {
    border: none;
  }
  .change-card-modal-content {
    text-align: center;
    // padding:0 10px 0 16px;
    color: #a5a5a5;
    font-size: 14px;
    .top-head {
      font-size: 32px;
      color: #333;
      padding: 10px 0 0;
    }
    .top-content {
      padding: 24px 10px 36px 16px;
    }
    .swiper-wp {
      text-align: left;
      .sw-item {
        padding:0 10px 0 16px;
      }
      .part-l {
        width: 320px;
        float: left;
      }
      .part-r {
        float: right;
        font-size: 12px;
        .shade-img {
          box-shadow: 10px 8px 10px #e9e6f3;
          margin-bottom: 8px;
        }
      }
      .title {
        font-size: 16px;
        color: #333;
        margin-bottom: 6px;
        position: relative;
        &:before {
          content: '';
          width:6px;
          height: 6px;
          background-color: #f60;
          position: absolute;
          left: -10px;
          top:50%;
          margin-top: -3px;
        }
      }
    }

  }
  .ant-carousel .slick-slide {
    overflow: hidden;
  }
}
