.comfim-recharge-wrap{
  background: #fff;
  position: relative;
  height: 100%;
  .main-content-action{
    width: 1190px;
    max-width: 1190px;
    margin: 0 auto;
    .verfiy-left-content {
      padding-left: 100px;
      padding-top: 68px;
      color: #666;
      font-size: 18px;
      .row-ver {
        margin-bottom: 30px;
      }
      .key,.value {
        display: inline-block;
      }
      .key {
        width: 110px;
        text-align: right;
      }
      .value {
        color: #000;
        text-align: left;
        padding-left: 40px;
      }
      .change-mb {
        padding-right: 10px;
      }
      .go-change {
        color: #f60;
        cursor: pointer;
      }
    }
    .row {
      width: 400px;
      height: 52px;
      text-align: center;
      position: relative;
      margin-bottom: 20px;
      .leave-btn {
        font-size: 14px;
        text-align: center;
        color: #999;
        cursor: pointer;
        &:hover {
          color: #f60;
        }
      }
    }
  }
  //按钮
  .submit-btn-row {
    margin-bottom: 10px;
    &.disabled {
      .ant-btn {
        background: #ddd;
        cursor: default;
      }
    }
  }
  //按钮
  .ant-btn {
    width: 400px;
    height: 54px;
    font-size: 16px;
    background: #ff6600;
    border: none;
    border-radius: 0;
  }
}
// .modal-contain{
//   font-size: 14px;
//   padding-left: 30px;
//   .modal-success-title{
//     margin-bottom: 10px;
//     .anticon{
//       color: green;
//       margin-right: 6px;
//     }
//   }
//   .wrong-text {
//     color: #f60;
//   }
//   .modal-wrong-title{
//     margin-bottom: 10px;
//     .anticon{
//       color: red;
//       margin-right: 6px;
//     }
//   }
// }
